@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

.asciicast {
  margin: 0px !important;
}

.links {
  top: 20px;
  right: 20px;
  position: absolute;
}

.links img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.link {
  color: #fff;
  font-size: 30px;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.logo {
  text-align: center;
  padding-top: 40px;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding: 35px;
  font-size: 100;
  line-height: 30px;
  max-width: 600px;
  margin: 0 auto;

}

.title b {
  font-size: 300;
}

.book-langs-index {
  width: 100%;
  min-height: 100vh;
  background: url(./images/background.png) no-repeat center center fixed;
  background-size: cover;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.book-langs-index a:hover {
  opacity: 0.8;
}

.book-langs-index .inner {
  background: none;
  border-top: 2px solid #fff;
  border-radius: 0px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  padding: 35px;
}

.book-langs-index .inner h1 {
  text-transform: uppercase;
  font-weight: 100;
  padding: 0;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1.49px;
}

.book-langs-index .inner .languages {
  border: none;
  padding: 0px;
  width: 205px;
  margin: 0 auto;
}

.book-langs-index .inner .languages a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 26px;
}

.book-langs-index .inner .languages li {
  padding: 5px 0px;
}

.video {
  text-align: center;
}

.book-langs-overlay {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.5)
}


footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  color: #fff;
  padding: 10px 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

footer a {
  color: #fff;
  text-decoration: underline;
}


